<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-plus"></script>
  <title>Element Plus demo</title>
</head>

<body>
  <div id="app">



    <div class="common-layout">
      <el-container>
        <el-header>Header</el-header>
        <el-main>Wordle
          <el-input v-model="input" placeholder="Please input" />
          </el-input>
          <el-button @click="test(this)">Submit</el-button>
          <div v-if="isTrue">
            <div> answer : {{ resultObj.data.data.word }}
            <div v-for="(item, index) in resultObj.data.data.WordleArray[0]">
              <div v-if="item.code == 1" style="background-color:#82FF82;padding:10px;margin-bottom:5px;">
                {{ index +1 }} : {{ item.letter }}
              </div>
              <div v-if="item.code == -1">
                {{ index +1 }} : {{ item.letter }}
              </div>
              <div v-if="item.code == -2">
                {{ index +1 }} : {{ item.letter }}
              </div>
            </div>
          </div>

          {{result}}
        </el-main>
      </el-container>
    </div>




  </div>
  <script>
    //const axios = require('axios').default;

    const App = {
      data() {
        return {
          message: "Hello Element Plus",
          input: "",
          result: "",
          resultObj: "",
          isTrue: false
        };
      },
      methods: {
        test(ethis) {
          elderThis = ethis
          axios.get('/games/' + this.input)
            .then(function (response) {
              // handle success
              console.log(response);
              elderThis.result = response.data
              elderThis.resultObj = response.data;
              elderThis.resultHandle(response.data)

            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
            .then(function () {
              // always executed
            });

        },

        resultHandle(data) {
          if (data.code == 1) {
            elderThis.isTrue = true

            //alert(data.data.data.WordleArray)

          }
        }
      }
    };
    const app = Vue.createApp(App);




    app.use(ElementPlus);
    app.mount("#app");
  </script>
</body>

</html>